/*
 Hello.

 I see you looking through my source.  You silly goose.

 Why not just email me, or check out my GitHub?

 github.com/cassidoo
 github.com/jamiechung
 */

body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
}

h1, h2 {
	font-family: 'Bitter', serif;
	font-weight: 300;
	color: #333;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
	padding-top: 5%;
}

.heading {
    margin: 25% auto;
    padding: 0 15%;
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
